header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8fabf;
    color: #8310aa;
}


.logo img {
    height: 100px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 50px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #9605a3;
}
li a {
    text-decoration: none; 
    color: inherit; 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

li:hover {
    background-color: rgba(240, 91, 208, 0.5); 
    cursor: pointer; 
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    background-color: #cc0ed6;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button img {
    height: 14px;
    width: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #cc0ed6b8;
    color: #fff;
    /* position: fixed; */ /* Remove this line */
    /* bottom: 0; */ /* Remove this line */
    /* width: 100%; */ /* Remove this line */
    clear: both; /* Ensure footer clears floated content */
  }


  /* Responsive styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .search-bar {
        width: 50%;
        margin-top: 10px;
    }

    .search-bar input {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .logo img {
        max-height: 40px;
    }

    .search-bar input {
        font-size: 5px;
    }

    nav ul li a {
        font-size: 14px;
    }
}